{% extends 'auctions/layout.html' %}

{% block title %}
    : Listings
{% endblock %}

{% block body %}
{% for listing in listings %}
<div class="holder"><a id="index_link" href="{% url 'listing' listing.id %}">
    <div class="img-box">
        {% if listing.photo == '' %}
            <div>No photo</div>
        {% else %}
            <img src='{{listing.photo}}' alt='photo of listing'>
        {% endif %}
    </div>
    <div class="t-box">
        <div><h4>{{listing.title}}</h4></div>
        <div><Strong>Price: {{listing.price}}gu</Strong></div>
        <div style="margin:5px;">{{listing.description}}</div>

    </div>
</a></div> 
{% endfor %}
{% endblock %}