{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr style="border-bottom: 2px solid; border-color: green">
                <th>Symbol</th>
                <th>Shares</th>
                <th>Transaction Type</th>
                <th>Price</th>
                <th>Transaction TIme</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                    <tr>
                        <td>{{row.symbol}}</td>
                        <td>{{row.shares}}</td>
                        <td>{{row.transaction_type}}</td>
                        <td>{{row.price | usd}}</td>
                        <td>{{row.transaction_time}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}